<!doctype html>
<html ng-app="app" lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="Formulario de login" content="">
        <meta name="Marc Fors" content="">
        <link rel="icon" href="img/favicon.ico">

        <title>Formulario login</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">

        <!-- CSS -->
        <link href="css/signin.css" type="text/css" rel="stylesheet">

        <!-- Angular -->
        <script src="js/angular.min.js"></script>

        <!-- App registro -->
        <script src="js/registerApp.js"></script>

    </head>
    <body class="text-center">
        <div ng-controller="registerController">
            <form class="form-signin" ng-submit="register()">

                <img class="mb-4" src="img/bootstrap-solid.svg" alt="" width="72" height="72">

                <h1 class="h3 mb-3 font-weight-normal">Formulario de registro</h1>

                <label for="inputPassword" class="sr-only">Contraseña</label>
                <input ng-model="username" type="username" id="inputUsername" class="form-control" placeholder="Usuario" required autofocus>

                <label for="inputEmail" class="sr-only">Correo electronico</label>
                <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Correo electronico" required>

                <label for="inputPassword" class="sr-only">Contraseña</label>
                <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordarme
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="registerApp()">Registrarse</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
            </form>
        </div>
    </body>
</html>
